.header-type{
    width: 100%;
    height:auto;
    background-color: gray;
   
    position: fixed;



}
.header__box{


display: flex;
align-items: baseline;
justify-content: center;

@media screen and (max-width: 840px){
    flex-direction: column;
    text-align: center;
    // justify-content: center;
    align-items: center;
}


}

.master-title{
    color: white;
    font-size: 25px;
    @media screen and (max-width: 840px) {
    font-size: 20px;
    }

}

.master-title--two {
    color: white;
    font-size: 25px;

    @media screen and (max-width: 840px) {
    font-size: 20px;
    }

}

.header__logo--box{
position: relative;
width: 45px;
height: 45px;
margin-left: 20px;
margin-right: 30px;

}
.header__logo{
width: 65px;
height: 65px;
border-radius: 50%;
// background-color: rgb(0, 174, 255);
background-color: azure;
border: 1px solid black;


position: absolute;
top: 4px;;
left:0;

}
.header__logo-times{
    font-size: 18px;
    position: absolute;
    top: 32%;
    left: 17%;
    color: red;

}


