body{
   background-color: bisque;
}

.times__problems-title{
font-size: 40px;
color: rgb(48, 18, 18);
text-align: center;

// padding-top: 100px;

@media screen and (max-width: 840px) {
        // padding-top: 180px;
        font-size: 20px;
    }

}

.times__problems--box{

// padding-top: 70px;

margin-left: auto;
margin-right: auto;



        


}
.times__problems--list{
    
    list-style: none;
    padding-left: 0;

    display: flex;
    flex-wrap: wrap;

   
    
}
.times__problems--list-items{
    
    width: calc(100 - 6*5)/3;
    height: auto;
    margin: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid black;



}
.times__problems--img{
    padding-top: 2px;
    display: block;
    
    width:100%;
    height: 200px;
  
    

}

.times__problems-text{
    
   color: gray; 
//    hyphens:manual;

   
}
